@import url(buttons-Numbers.css);
@import url(Calculator-interface.css);
@import url(Button-Arithmetic.css);

#cal-body {
    width: 400px;
    height: 600px;
    border: 5px solid rgb(75, 73, 73);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 20px;
    background-color: rgb(43, 42, 42);
}

#body-buttons{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    width: 350px;
    height: 430px;
    border-radius: 10px;
}